.admin {
    background-color: #ccc;

    .backdrop{
        position: 'fixed';
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #ccc;
        padding: 50;

        .modal {
            background-color: #ccc;
            border-radius: 5;
            width: 500px;
            max-width: 100%;
            min-height: 300;
            margin: 0 auto;

            &__form {
                max-width: 500px;

                &__container {
                    display: flex;
                    justify-content: center;
                    align-content: center;

                    &__content {
                        padding: 30px;
                        max-width: 500px;

                        div {
                            padding: 5px;
                        }
                    }
                }
            }
        }
    }

    .admin__header {
        position: relative;
        margin: 0 auto;
        width: 100vw;
        height: 60px;
        background-color: #eee;
        box-shadow: 5px 5px 5px rgb(60, 60, 60);

        h1 {
            position: relative;
            padding: 0px 125px;
            top: 20px;
            font-size: 22px;
            font-weight: bold;
        }

        i {
            position: relative;
            font-size: 30px;
            top: -5px;
            left: 80%;
            transition: ease 0.1s;
            cursor: pointer;

            &:active {
                transform: scale(1.5, 1.5);
            }
        }
    }

    .admin__productCard {
        max-width: 100vw;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        background-color: #ccc;
        padding: 30px 0px;

        
        &__container {
            position: relative;
            width: 900px;
            margin: 10px;
            padding: 20px;
            border: 2px solid black;
            border-radius: 5%;
            background-color: #eee;
            box-shadow: 5px 5px 5px rgb(60, 60, 60);

            &__icons {
                font-size: 30px;
                position: absolute;
                top: 25px;
                right: 100px;

                i {
                    padding: 0px 30px;
                    transition: ease 0.5s;
                    cursor: pointer;

                    &:hover {
                        transform: scale(1.3, 1.3);
                    }
                }

                .update__form {
                    position: fixed;
                    z-index: 1;
                    padding: 150px 100px;
                    border: 3px solid black;
                    background: #bea7c4;
                    color: black;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }

                    .modal-anim-enter {
                        opacity: 0.00;
                        top: 50%;
                        left: 50%;
                        padding-left: 100px;
                        transform: translate(50%, 50%), scale(0.7);
                        transition: all 0.4s;
                    }
                    
                    .modal-anim-enter.modal-anim-enter-active {
                        opacity: 1;
                    }

                    .modal-anim-leave {
                        opacity: 1;
                        transition: all 0.4s;
                    }
                    
                    .modal-anim-leave.modal-anim-leave-active {
                        opacity: 0.00;
                    }
            }

            &__head {
                max-width: 450px;
                font-weight: bold;
                padding: 5px 0px;
            }
        }
    }
}
