.main__container {
    height: 350px;
    width: 100vw;
    background-color: #eee;

    &__content1 {
        position: relative;
        height: 100%;
        width: 100vw;
        top: 0px;
        text-align: center;

        &__text {
            position: relative;
            width: 500px;
            left: 20%;
            top: 50px;

            > h1 {
                font-size: 35px;
                padding: 40px;
            }

            > em {
                padding: 5px;
                font-size: 30px;
                font-style: italic;
            }
        }

        &__bg {
            position: absolute;
            right: 0px;
            top: 0;
            height: 100%;
            width: 420px;;
        }
    
    }
}